<p id="notice"><%= notice %></p>

<h1>
  <%= @brewery.name %>
</h1>

<i>
  Established in
  <%= @brewery.year %>
</i>

<p>
  <strong>Catalog size:</strong>
  <%= @brewery.beers.count %>
</p>

<p>
 <% @brewery.beers.each do |beer| %>
   <%= link_to beer.name, beer %>
 <% end %>
</p>

<% if @brewery.ratings.empty? %>
 No ratings!
<% else %>
 Has <%= pluralize(@brewery.ratings.size, "rating") %>, average <%= @brewery.average_rating %>
<% end %>
<br/>
<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>